:root {
	--purple: #949ef8;
	--orange: #ffa14b;
	--light-blue: #ecf6ff;
}

* {
	box-sizing: border-box;
}

body,
html {
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "slnt" 0;
	font-weight: normal;
	font-size: 1rem;
	-webkit-font-smoothing: antialiased;
	min-height: 100vh;
}

body {
	padding: 0;
	margin: 0;
	color: white;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}

.padding-x {
	padding-inline: 80px;
}

.mw-container {
	max-width: 110rem;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.line-block {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
	pointer-events: none;
}

.line-1 {
	left: -12px;
}

.line-2 {
	left: 33.1%;
}

.line-3 {
	left: 66.9%;
}

.line-4 {
	left: calc(100% + 12px);
}

.line {
	width: 1px;
	height: 100%;
	background-color: black;
	position: absolute;
	height: 100%;
}

.uppercase {
	text-transform: uppercase;
}

a {
	&.menu-link {
		width: fit-content;
		height: fit-content;
		font-size: 20px;
		color: black;
		text-decoration: none;

		&:hover {
			background: black;
			color: white;
			transition: all 0.2s;
		}
	}

	&.button {
		display: inline-block;
		height: 85px;
		padding: 25px 45px;
		text-decoration: none;
		font-weight: bold;

		&:hover {
			transition: all 0.1s;
		}

		&.primary-button {
			background-color: black;
			color: white;
			border: 2px solid black;

			&:hover {
				color: black;
				background-color: var(--purple);
				border: 2px solid var(--purple);
			}
		}

		&.secondary-button {
			color: black;
			border: 2px solid black;

			&:hover {
				background-color: var(--purple);
				border: 2px solid var(--purple);
			}
		}
	}
}

.extra-bold {
	font-weight: 800;
}

.relative {
	position: relative;
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;
}

.hero__title {
	word-wrap: break-word;
	margin-left: -13px;
}

.text-default {
	font-size: 38px;
	font-weight: 500;
	line-height: 125%;
	letter-spacing: -0.7px;
	margin: 0;
}

.text-hero {
	font-size: 190px;
	font-weight: 600;
	line-height: 100%;
	letter-spacing: -2px;
}

.text-block {
	font-size: 70px;
	font-weight: 300;
	line-height: 120%;
	letter-spacing: 0.32px;
}

.eyebrow {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1.6px;
}

.body-large {
	font-size: 24px;
	font-weight: 500;
	line-height: 30px;
}

h1 {
	font-size: 150px;
	margin-top: 0;
	margin-bottom: 90px;
}

h2 {
	font-size: 90px;
	line-height: 100%;
	letter-spacing: -0.48px;
}

.inner-block {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 24px;
}

.col-1 {
	grid-column: span 4;
}

.col-2 {
	grid-column: span 8;
}

.col-3 {
	grid-column: span 12;
}

.col-half {
	grid-column: span 6;
}

/* Main nav */

.main-nav {
	margin-bottom: 100px;
}

/* Hero */

.hero {
	min-height: 100vh;
	background-color: var(--purple);
	color: black;
	padding-top: 52px;

	.keywords {
		margin-top: 190px;
		margin-bottom: 65px;

		p {
			font-size: 20px;
			line-height: 120%;
			letter-spacing: 10%;
		}
	}

	.boutique_advisory {
		position: absolute;
		transform: rotate(-90deg) translate(380px, 464px);
		right: 0;
		display: flex;
		align-items: center;

		p {
			margin: 0;
			padding-left: 420px;
		}
	}
}

/* About */

.about {
	background: #ffa14b;
	padding: 0 0 70px;
	overflow: hidden;
	color: black;

	& .container {
		margin-top: 60px;

		.eyebrow_column {
			background-color: white;
			z-index: 1;
			position: absolute;
			width: 960px;
			height: 1250px;
			margin-left: -80px;

			p {
				transform: rotate(-90deg) translate(-80px, -80%);
				margin: 0;
				display: inline-block;
			}
		}
	}

	.content {
		padding-top: 230px;
		padding-left: 100px;
		position: relative;
		z-index: 1;

		h2 {
			margin-top: 0;
			margin-bottom: 55px;
		}

		.content__information {
			width: 600px;

			p {
				margin-bottom: 150px;
			}

			.primary-button {
				margin-right: 25px;
			}
		}
	}

	& .background-1 {
		grid-column-start: 5;
		grid-column-end: 9;
		margin-left: -11px;
	}

	& .background-2 {
		margin-left: -12px;
	}
}

/* Our Services */

.services {
	background: var(--light-blue);
	color: black;
	padding-top: 290px;
	padding-bottom: 320px;

	h2 {
		margin: 0 0 0 -13px;
	}

	p {
		margin-bottom: 100px;
	}

	.view-more {
		display: flex;
		justify-content: end;

		a {
			font-size: 20px;
			color: black;
			font-weight: bold;
			border-bottom: 2px solid black;
			padding-bottom: 2px;
			display: inline-block;
			text-decoration: none;

			&:hover {
				background: var(--purple);
			}
		}
	}

	.service-grid {
		display: grid;
		gap: 24px;
		margin-top: 28px;

		.card {
			height: 320px;
			background: white;
			position: relative;

			.plus-icon {
				font-size: 50px;
				display: inline-block;
				text-align: end;
				width: 100%;
				padding-right: 40px;
				padding-top: 10px;
				opacity: 0;
			}

			.card-content {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 3;
				overflow: hidden;
				padding: 40px;

				.content {
					transition: transform 0.4s;
					transform: translateY(100%);
				}

				.title {
					max-width: 200px;
					font-size: 45px;
					font-weight: 600;
					letter-spacing: -1px;
					transform: translateY(-100%);
					transition: transform 0.4s;
					margin: 0 0 20px;
					line-height: 1;
				}

				.description {
					font-size: 22px;
					font-weight: 500;
					margin: 0;
				}
			}

			&:hover {
				background: var(--purple);
				transition: background 0.4s;

				.plus-icon {
					opacity: 100%;
					transition: opacity 0.8s;
				}

				.card-content {
					.content {
						transform: translateY(0);

						.title {
							transform: translateY(0);
						}
					}
				}
			}
		}
	}
}

/* Gallery */

.gallery {
	background-color: white;
	margin-bottom: 100px;

	.gallery-container {
		.first-image {
			margin-left: -80px;
		}

		.second-image {
			margin-left: -7px;
		}

		.third-image {
			margin-left: -12px;
		}
	}
}

/* Team */

.team {
	color: black;

	h2 {
		margin: 0 0 218px -24px;
	}

	.founders {
		display: flex;
		align-items: end;
		height: 1000px;
		background-image: url(assets/team/founders.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		padding-left: 60px;
		padding-bottom: 60px;
		background-position: center center;

		.ellipse-1,
		.ellipse-2 {
			width: 81px;
			height: 81px;
		}

		.ellipse-2 {
			margin-left: -12px;
		}

		.founders-names {
			font-size: 20px;
			font-weight: 500;
			line-height: 4;
			color: white;
			margin-left: 20px;
			margin-bottom: 35px;
		}
	}

	.photo-by {
		font-size: 20px;
		font-weight: 500;
		text-align: right;
		margin: 15px 0 0;
	}

	.content {
		display: grid;
		margin-top: 180px;

		.team-title {
			margin-left: -11px;

			h3 {
				font-size: 100px;
				line-height: 1;
				letter-spacing: -5px;
				margin: 0;
			}
		}

		.team-description {
			p {
				margin-bottom: 80px;
			}
		}
	}

	.living-art {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		margin-top: 320px;
	}
}

/* Footer */
footer {
	background: var(--orange);
	color: black;
	padding-top: 140px;
	padding-bottom: 50px;

	.logo-column {
		margin-left: -11px;
	}

	.links-column {
		margin-left: -11px;

		a {
			display: block;
			width: fit-content;
			color: black;
			font-weight: 600;
			margin-bottom: 20px;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		.link-title {
			font-size: 28px;
		}

		.link-subtitle {
			font-size: 20px;
			opacity: 60%;
		}

		small {
			display: inline-block;
			font-size: 13px;
			font-weight: 500;
			opacity: 60%;
			margin-top: 90px;

			span:first-child {
				display: inline-block;
				font-weight: 700;
				margin-bottom: 5px;
			}
		}
	}

	.connect-column {
		display: grid;
		margin-left: -11px;

		h3 {
			max-width: 450px;
			font-weight: 600;
			margin-bottom: 40px;
		}

		.secondary-button {
			display: block;
			width: fit-content;
			background: white;
			border: 2px solid white;
			margin-bottom: 30px;
		}

		.connect-icon {
			display: inline-block;
			text-decoration: none;
			margin-right: 12px;

			&.mail-icon {
				width: 24px;
				height: 24px;
			}

			&.facebook-icon,
			&.linkedin-icon {
				width: 20px;
				height: 20px;

				img {
					margin-bottom: 2px;
				}
			}
		}

		small {
			display: inline-block;
			align-self: flex-end;
			font-size: 13px;
			font-weight: 600;
			text-align: right;
			opacity: 60%;
			margin-top: 90px;

			a {
				color: black;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
