html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
    appearance: none;
    background: none;
}
a{
    text-decoration: unset;
    color: unset;
    cursor: pointer;
}
.list-reset {
    padding: 0;
    margin: 0;
    list-style: none
}


/*///////////////////////////////////////////////////////////////////////
    Layout
///////////////////////////////////////////////////////////////////////*/

:root {
    --header-height: 8.75rem;

    --color-black: #000000;
    --color-white: #ffffff;
    --color-purple: #949ef8;
    --color-orange: #FFA14B;
    --color-blue: #385372;
    --color-beau-blue: #BBD6E5;
    --color-dolphin-gray: #7B9889;
    --color-very-pale-orange: #FFD8C3;
    --color-fawn: #68A9E5;
    --color-dark-vanilla: #C9BFAD;
    --color-pastel-red: #F76666;
    --color-medium-sea-green: #43A86B;
    --color-wisteria: #C8A3D9;
    --color-yellow-crayola: #FFE484;
    --color-cultured: #F8F8F8;

    --spacing-x:                  5rem;

    --spacing-section:          13.75rem;
    --spacing-block:            6.875rem;
    
    --spacing-lg:               5rem;
    --spacing-md:               3.125rem;
    --spacing-sm:               1.875rem;
    
    --gutter:                   1.5rem;

    --heading-page-size:        9.5vw;
    --heading-section-size:     6.25rem;
    --heading-block-size:       2.375rem;
}

* {
	box-sizing: border-box;
}

body,
html {
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "slnt" 0;
	font-weight: normal;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
	min-height: 100vh;
    color: var(--color-black)
}

body {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
    font-size: 1.25rem;
    line-height: 1.6;
    font-weight: 600;
    letter-spacing: -.03em;

}

.spacing-x { padding-inline: var(--spacing-x); }

.spacing-y--section { padding-block: var(--spacing-section); }
.spacing-y--block { padding-block: var(--spacing-block); }

.spacing-t--sm { padding-top: var(--spacing-sm); }
.spacing-b--sm { padding-bottom: var(--spacing-sm); }
.spacing-t--md { padding-top: var(--spacing-md); }
.spacing-b--md { padding-bottom: var(--spacing-md); }
.spacing-t--lg { padding-top: var(--spacing-lg); }
.spacing-b--lg { padding-bottom: var(--spacing-lg); }

.mw-container { max-width: 110rem; }

.mx-auto { margin-inline: auto; }
.my-auto { margin-block: auto; }

.mt-lg { margin-top: var(--spacing-lg); }
.mt-md { margin-top: var(--spacing-md); }
.mt-sm { margin-top: var(--spacing-sm); }

.mr-lg { margin-right: var(--spacing-lg); }
.mr-md { margin-right: var(--spacing-md); }
.mr-sm { margin-right: var(--spacing-sm); }

.mb-lg { margin-bottom: var(--spacing-lg); }
.mb-md { margin-bottom: var(--spacing-md); }
.mb-sm { margin-bottom: var(--spacing-sm); }


.pt-lg { padding-top: var(--spacing-lg); }
.pt-md { padding-top: var(--spacing-md); }
.pt-sm { padding-top: var(--spacing-sm); }

.pr-lg { padding-right: var(--spacing-lg); }
.pr-md { padding-right: var(--spacing-md); }
.pr-sm { padding-right: var(--spacing-sm); }

.pb-lg { padding-bottom: var(--spacing-lg); }
.pb-md { padding-bottom: var(--spacing-md); }
.pb-sm { padding-bottom: var(--spacing-sm); }

.pl-lg { padding-left: var(--spacing-lg); }
.pl-md { padding-left: var(--spacing-md); }
.pl-sm { padding-left: var(--spacing-sm); }

@media(min-width: 31.25em){
    .s-pt-lg { padding-top: var(--spacing-lg); }
    .s-pt-md { padding-top: var(--spacing-md); }
    .s-pt-sm { padding-top: var(--spacing-sm); }
    
    .s-pr-lg { padding-right: var(--spacing-lg); }
    .s-pr-md { padding-right: var(--spacing-md); }
    .s-pr-sm { padding-right: var(--spacing-sm); }
    
    .s-pb-lg { padding-bottom: var(--spacing-lg); }
    .s-pb-md { padding-bottom: var(--spacing-md); }
    .s-pb-sm { padding-bottom: var(--spacing-sm); }
    
    .s-pl-lg { padding-left: var(--spacing-lg); }
    .s-pl-md { padding-left: var(--spacing-md); }
    .s-pl-sm { padding-left: var(--spacing-sm); }
}
@media(min-width: 43.75em){
    .m-pt-lg { padding-top: var(--spacing-lg); }
    .m-pt-md { padding-top: var(--spacing-md); }
    .m-pt-sm { padding-top: var(--spacing-sm); }
    
    .m-pr-lg { padding-right: var(--spacing-lg); }
    .m-pr-md { padding-right: var(--spacing-md); }
    .m-pr-sm { padding-right: var(--spacing-sm); }
    
    .m-pb-lg { padding-bottom: var(--spacing-lg); }
    .m-pb-md { padding-bottom: var(--spacing-md); }
    .m-pb-sm { padding-bottom: var(--spacing-sm); }
    
    .m-pl-lg { padding-left: var(--spacing-lg); }
    .m-pl-md { padding-left: var(--spacing-md); }
    .m-pl-sm { padding-left: var(--spacing-sm); }
}
@media(min-width: 62.5em){
    .l-pt-lg { padding-top: var(--spacing-lg); }
    .l-pt-md { padding-top: var(--spacing-md); }
    .l-pt-sm { padding-top: var(--spacing-sm); }
    
    .l-pr-lg { padding-right: var(--spacing-lg); }
    .l-pr-md { padding-right: var(--spacing-md); }
    .l-pr-sm { padding-right: var(--spacing-sm); }
    
    .l-pb-lg { padding-bottom: var(--spacing-lg); }
    .l-pb-md { padding-bottom: var(--spacing-md); }
    .l-pb-sm { padding-bottom: var(--spacing-sm); }
    
    .l-pl-lg { padding-left: var(--spacing-lg); }
    .l-pl-md { padding-left: var(--spacing-md); }
    .l-pl-sm { padding-left: var(--spacing-sm); }
}

.gutter-x{ column-gap: var(--gutter); }
.gutter-y{ row-gap: var(--gutter); }

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.col { grid-column: span 12; }

/* 1600 1280 1000 700 500 375 */
@media(min-width:62.5em){
    .col-4 { grid-column: span 4; }
    .col-8 { grid-column: span 8; }
    .col-6 { grid-column: span 6; }
    .col-12 { grid-column: span 12; }
}
@media(min-width:100em){
    .xxl-col-4 { grid-column: span 4; }
    .xxl-col-8 { grid-column: span 8; }
    .xxl-col-6 { grid-column: span 6; }
    .xxl-col-12 { grid-column: span 12; }
}



/*///////////////////////////////////////////////////////////////////////
    Site header
///////////////////////////////////////////////////////////////////////*/

.site-header {
    display: flex;
    align-items: center;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: var(--header-height);
    z-index: 2;
}
.site-header__link {
    font-weight: 800;
    padding: 0.625rem;

    &:hover, &.active {
        background: var(--color-black);
        color: var(--color-white);
        transition: all .3s;
    }
}


/*///////////////////////////////////////////////////////////////////////
    Site footer
///////////////////////////////////////////////////////////////////////*/

.site-footer {
    padding-top: var(--spacing-block);
    padding-bottom: var(--spacing-md);
}

.footer-legal {
    font-size: 0.8125rem;
    line-height: 1;
    color: rgba(0, 0, 0, 0.6)
}

.footer-nav__items{
    display: flex;
    flex-direction: column;
    row-gap: 2.25rem;
}

.footer-nav__subitems {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    row-gap: 0;
}

.footer-nav__link {
    font-size: 1.75rem;
    line-height: 1.25;
    font-weight: 600;
    letter-spacing: -.03em;
}

.footer-nav__sublink {
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 600;
    opacity: .6;
}

.footer-nav__link:hover,
.footer-nav__sublink:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}

.social-links {
    display: flex;
    gap: 0.75rem;
    margin-top: var(--spacing-md);
}
.social-link {
    &:hover {
        opacity: .6;
        transition: opacity .2s;
    }
}

.footer-by {
    gap: 0.2rem;

    a:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
    }

    a:hover img {
        opacity: 50%;
        transition: opacity .2s;
    }
}


/*///////////////////////////////////////////////////////////////////////
    Lines
///////////////////////////////////////////////////////////////////////*/

.line-block {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
	pointer-events: none;
}

.line {
	width: 0.0625rem;
	height: 100%;
	background-color: black;
	position: absolute;
	height: 100%;
}

.line-1 { left: calc((var(--gutter) * -1) / 2); }
.line-2 { left: 33.3333%; }
.line-3 { left: 66.6666%; }
.line-4 { left: calc(100% + 0.75rem); }


/*///////////////////////////////////////////////////////////////////////
    Headings
///////////////////////////////////////////////////////////////////////*/

.heading--page{
    font-size: var(--heading-page-size);
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 600;
}
@media(min-width: 120rem){
    .heading--page{
        font-size: 11.875rem;
    }
}
.heading--section{
    font-size: var(--heading-section-size);
    line-height: 100%;
    letter-spacing: -.03em;
    font-weight: 600;
}
.heading--block{
    font-size: var(--heading-block-size);
    line-height: 125%;
    letter-spacing: -.03em;
    font-weight: 600;
}
.heading--eyebrow{
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
}


/*///////////////////////////////////////////////////////////////////////
    Util
///////////////////////////////////////////////////////////////////////*/

.relative { position: relative; }
.w-100 { width: 100%; }
.w-100vw { width: 100vw; }
.h-100vh { height: 100vh; }
.h-100 { height: 100%; }

.bg-purple { background-color: var(--color-purple); }
.bg-orange { background-color: var(--color-orange); }
.bg-blue { background-color: var(--color-blue); color: var(--color-white) }

.flex { display: flex; }
.flex-column { display: flex; flex-direction: column; }

.items-start { align-items: flex-start; }
.items-center { align-items: center; }
.items-end { align-items: flex-end; }
.items-baseline { align-items: baseline; }

.justify-between { justify-content: space-between;}
.justify-center { justify-content: center}
.justify-end { justify-content: flex-end}

.visuallyhidden {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    padding: 0;
    margin: -0.0625rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
}

.hidden {
    display: none
}

.m-visible { display: none }

@media (min-width: 43.75em) { .m-visible { display: block } }

.l-visible {
    display: none
}

@media (min-width: 62.5em) {
    .l-visible {
        display:block
    }
}

.xl-visible {
    display: none
}

@media (min-width: 80em) {
    .xl-visible {
        display:block
    }
}

@media (min-width: 43.75em) {
    .m-hidden {
        display:none
    }
}

@media (min-width: 62.5em) {
    .l-hidden {
        display:none
    }
}

@media (min-width: 80em) {
    .xl-hidden {
        display:none
    }
}



.aspect-ratio--1x1 { aspect-ratio: 1 / 1 ;}
.aspect-ratio--3x4 { aspect-ratio: 3 / 4 ;}
.aspect-ratio--4x3 { aspect-ratio: 4 / 3 ;}
.aspect-ratio--16x9 { aspect-ratio: 16 / 9 ;}

.image-bg {
    background-color: rgba(0, 0, 0, 0.1);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.object-fit {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}


/*///////////////////////////////////////////////////////////////////////
    Buttons
///////////////////////////////////////////////////////////////////////*/

.buttons {
    display: flex;
    gap: var(--gutter);
}
.button {
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.625rem 2.8125rem 1.6875rem 2.75rem;
    border: 0.125rem solid transparent;
    transition: all 150ms;
    outline: 0;
}
.button:hover, .button:focus {
    background-color: var(--color-purple);
    color: var(--color-black);
    border-color: transparent;
}
.button--primary {
    background-color: var(--color-black);
    color: var(--color-white);
}
.button--secondary { border-color:var(--color-black); }
.button--tertiary {
    background-color: var(--color-white);
    color: var(--color-black);

    &:hover, &:focus {
    background-color: var(--color-black);
    color: var(--color-white);
    border-color: transparent;
}
}


/*///////////////////////////////////////////////////////////////////////
    Block
///////////////////////////////////////////////////////////////////////*/

.line-block {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	pointer-events: none;
    opacity: .15;
}


.hero-block {
    display: flex;
    flex-direction: column;
    padding-top: var(--header-height);
}
.hero__eyebrows {
    width: 100%;
    margin-top: auto;
    padding-top: 4rem;
}
.hero-sidebar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: var(--spacing-x);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
}
.hero-sidebar__eyebrow {
    transform: rotate(-90deg);
    transform-origin: middle;
    white-space: nowrap 
}
.hero__eyebrow{
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
}


.approach__text {
    background-color: var(--color-white);
    padding-right: 5rem;
}
.approach__text > *{
    max-width: 37.25rem;
}
.approach__text::before {
    content: '';
    position: absolute;
    left: -1000%;
    top: 0;
    bottom: 0;
    right: 100%;
    background-color: var(--color-white);
}
.approach__images {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: var(--spacing-md);
}
.approach__image--bleed{
    position: absolute;
    top: 0;
    right: 0;
    bottom: var(--spacing-md);
    left: 50%;
}
.approach__img {
    position: absolute;
    bottom: var(--spacing-md);
    right: 50%;
    left: 0;
    background-color: var(--color-white);
}



.services-home-block {
    background-color: #ECF6FF;
}
.services-home-item{
    aspect-ratio: 569 / 320;
    position: relative;
    transition: all .3s ease-in-out;
}

.services-home-item:nth-child(1){ background-color: var(--color-beau-blue) }
.services-home-item:nth-child(2){ background-color: var(--color-dolphin-gray) }
.services-home-item:nth-child(3){ background-color: var(--color-very-pale-orange) }
.services-home-item:nth-child(4){ background-color: var(--color-fawn) }
.services-home-item:nth-child(5){ background-color: var(--color-dark-vanilla) }
.services-home-item:nth-child(6){ background-color: var(--color-pastel-red) }
.services-home-item:nth-child(7){ background-color: var(--color-medium-sea-green) }
.services-home-item:nth-child(8){ background-color: var(--color-wisteria) }
.services-home-item:nth-child(9){ background-color: var(--color-yellow-crayola) }

.services-home-item__inner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2vw;
    max-height: 100%;
    overflow: scroll;
    
    @media(min-width: 120rem){
        padding: var(--spacing-md) var(--spacing-lg) var(--spacing-md) var(--spacing-md);
    }

    &:hover {
        .services-home-item__title + .services-home-item__body{
            margin-top: 1.0625rem;
        }
    }
}

.services-home-item__title{
    font-size: 3vw;
    line-height: 120%;
    font-weight: 600;
    letter-spacing: -.04em;
    
    @media(min-width: 120rem){
        font-size: 3.75rem;
    }
    
    .services-home-item__inner:hover &{
        font-size: 2.5rem;
    }
}

.services-home-item__body{
    font-size: 0;
    line-height: 150%;
    font-weight: 500;
    opacity: 0;
    
    .services-home-item__inner:hover &{
        font-size: 1rem;
        opacity: 1;
    }
}




.callout__callout{
    font-size: 9.8vw;
    letter-spacing: -.04em;
    font-weight: 600;
}



.image-fw-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    aspect-ratio: 16 / 9;
}

.image-fw-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(6deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 32%);
        z-index: 1;
    }
}

.image-fw__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    width: 100%;
    color: var(--color-white);
}

.image-fw__avatars-col {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.image-fw__avatars {
    display: flex;
}
.image-fw__avatar {
    width: 5.3125rem;
    aspect-ratio: 1 / 1;
    border: 0.25rem solid var(--color-black);
    border-radius: 100%;
    overflow: hidden;

    & + & {
        margin-left: -0.625rem;
    }
}




.about-home__eyebrow {
    position: absolute;
    top: -4rem;
    left: 0;
}





.image-grid-block {
    aspect-ratio: 16 / 9;
}

.image-grid__image{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.image-grid-inner{
    .col:first-child{
        .image-grid__image{
            left: calc(var(--spacing-x) * -1); 
        }
    }
    .col:last-child{
        .image-grid__image{
            right: calc(var(--spacing-x) * -1); 
        }
    }
}





.about-intro__image {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:calc((var(--spacing-section) * -2));
}

.values__title{
    font-size: 3.75rem;
    line-height: 1.25;
    letter-spacing: -.03em;
}

.values__divider {
    height: 0.0625rem;
    background-color: var(--color-white);
}




.testimonials {
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    scroll-snap-type: x mandatory;
    cursor: grab;

    &.dragging {
        cursor: grabbing;
    }
}
.testimonials::-webkit-scrollbar {
    display: none;
}
.testimonial {
    display: inline-block;
    width: 100%;
    scroll-snap-align: center;
    white-space: normal;
    user-select: none;
    -webkit-user-drag: none;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    & + & {
        margin-left: calc(var(--spacing-x) * -1);
    }
}
.testimonial:nth-child(1):before{ background-color: var(--color-beau-blue) }
.testimonial:nth-child(2):before{ background-color: var(--color-dolphin-gray) }
.testimonial:nth-child(3):before{ background-color: var(--color-very-pale-orange) }
.testimonial:nth-child(4):before{ background-color: var(--color-fawn) }
.testimonial:nth-child(5):before{ background-color: var(--color-dark-vanilla) }
.testimonial:nth-child(6):before{ background-color: var(--color-pastel-red) }
.testimonial:nth-child(7):before{ background-color: var(--color-medium-sea-green) }
.testimonial:nth-child(8):before{ background-color: var(--color-wisteria) }
.testimonial:nth-child(9):before{ background-color: var(--color-yellow-crayola) }

.testimonial__icon {
    display: block;
    margin-inline: auto;
}
.testimonial__text {
    text-align: center;
    max-width: 100rem;
    margin-inline: auto;
}

.testimonial__meta {
    text-align: center;
}

.dots-container {
    position: absolute;
    bottom: var(--spacing-md);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.625rem;
    z-index: 3;
}
.dot {
    width: 1.25rem;
    height: 1.25rem;
    border: 0.125rem solid var(--color-black);
    border-radius: 50%;
    cursor: pointer;
}
.dot.active {
    background-color: var(--color-black);
}





.clients-block {
    background-color: var(--color-cultured);
    h2 {
        text-align: center;
    }
}

.clients__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 5rem;
    mix-blend-mode: multiply;
}
.clients__logo {
    flex-basis: 16.66%;
    img {
        display: block;
        height: auto;
        max-width: 60%;
        max-height: 70%;
        margin: auto;
        filter: grayscale(100%);
    }
}





.team-block {
    h2 {
        font-size: 6.25rem;
        line-height: 1;
        font-weight: 600;
        letter-spacing: -.03em;
        margin-bottom: 5rem;
    }

    .team-member {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        aspect-ratio: 550 / 639;
        margin-bottom: 4rem;
    }

    .modal {
		display: none;
		position: fixed;
		z-index: 50;
		top: 0;
        right: 0;
        bottom: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		overflow: auto;
		transition: opacity 0.3s ease;
		opacity: 0;
        background-color: white;
		padding: 4.375rem 6.25rem 4.375rem 5rem;
	}

	.modal.show {
		opacity: 1;
	}

	.modal.visible {
		display: flex;
        flex-direction: column;
        gap: 2rem;
	}

	.modal-content {
		position: relative;
		transition: opacity 0.3s ease;
		overflow: scroll;

		.modal__info {
			img {
				max-width: 34.375rem;
				max-height: 50rem;
			}

			h3 {
				font-size: 6.25rem;
				line-height: 1;
				margin-top: 0;
				margin-bottom: 4.375rem;
			}

			p {
				max-width: 62.5rem;

				span {
					font-weight: bold;
				}
			}
		}
	}

	.close {
		font-size: 3.125rem;
		line-height: 0;
        align-self: flex-end;
	}

	.close:hover,
	.close:focus {
		opacity: 70%;
		cursor: pointer;
	}
}





/*///////////////////////////////////////////////////////////////////////
    Services page
///////////////////////////////////////////////////////////////////////*/
.services-block {
    background: linear-gradient(to right, var(--color-beau-blue) 50%, var(--color-yellow-crayola) 50%);
}

.accordion {
	display: flex;
	justify-content: center;
}

.accordion-cell {
	display: inline-block;
	position: relative;
	width: 6vw;
	transition-property: width;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(1, 0, 0, 1);
	cursor: pointer;
	overflow: hidden;

	&:nth-child(1) { background: var(--color-beau-blue); }
	&:nth-child(2) { background: var(--color-dolphin-gray); }
	&:nth-child(3) { background: var(--color-very-pale-orange); }
	&:nth-child(4) { background: var(--color-fawn); }
	&:nth-child(5) { background: var(--color-dark-vanilla); }
	&:nth-child(6) { background: var(--color-pastel-red); }
	&:nth-child(7) { background: var(--color-medium-sea-green); }
	&:nth-child(8) { background: var(--color-wisteria); }
	&:nth-child(9) { background: var(--color-yellow-crayola); }

	& > h4 {
		display: block;
		position: absolute;
		left: .2vw;
		top: 3rem;
		transform: rotate(180deg);
		transition-duration: 250ms;
		writing-mode: vertical-rl;
	}

	& > .accordion-cell-content {
		display: block;
		width: 33.75rem;
		opacity: 0;
		transition-property: opacity;
		transition-duration: 250ms;
		overflow: hidden;
		font-size: 1.25rem;
		letter-spacing: -0.03rem;
		font-weight: 600;
		top: 2.5rem;
		position: relative;
		left: 6rem;
		line-height: 1.7;

        ul {
            list-style-type: disc;
            padding-left: 40px;
        }

		& a:hover {
			text-decoration: underline;
            text-underline-offset: 5px;
		}
	}
}

.expanded {
	width: 100vw;

	& > .accordion-cell-content {
		opacity: 1;
		transition-property: opacity;
		transition-duration: 250ms;
	}
}

@media (max-width: 80em) {
	.accordion {
		flex-direction: column;
		height: auto;
	}

	.accordion-cell {
		width: 100%;
		height: 7rem;
		transition-property: height;
		padding: 0.625rem;
	}

	.accordion-cell h4 {
		writing-mode: horizontal-tb;
		transform: rotate(0deg);
		left: 1rem;
		top: 1rem;
		bottom: auto;
		transform: none;
	}

	.accordion-cell .accordion-cell-content {
		width: 100%;
		max-height: 0;
		left: 0;
		top: 0;
		padding: 2.5rem 0.625rem 0.625rem;
        margin-top: 2rem;
	}

	.expanded {
		height: auto;

		& > .accordion-cell-content {
			max-height: none;
			opacity: 1;
		}
	}
}
